@charset "utf-8";

body { min-width:360px; background-color: #fff; color: #505050; position: relative; }


/* Layout */
.container { max-width: 1200px; min-width: 360px; width: 90%; margin: 0 auto; box-sizing: border-box; }



.body { padding-top: 80px; width: 100%; min-height: 800px; display: inline-block; background: url('../images/common/bg_w.jpg') center no-repeat; background-size: cover; }
.black_body { padding: 100px 0; background-color: #313131; background-color: rgba(0,0,0,0.8); }
.main_body { min-height: 800px; }

#title_area { text-align: center; padding: 100px 0 50px; }
#title_area h1 { margin-bottom: 20px; font-weight: bold; }
#title_area h4 { margin-bottom: 20px; letter-spacing: 5px; text-transform: uppercase; }
#title_area .line { background-color: #e6950c; width: 1px; height: 27px; margin: 0 auto; }

/* MAIN */






#board section.board_list { padding-bottom: 100px; }
#board section.board_list #board_tab { margin-bottom: 35px; position: relative; border-bottom: 2px solid #1a1a1a; }
#board section.board_list #board_tab ul { overflow: hidden; }
#board section.board_list #board_tab ul li { float: left; position: relative; display: table; }
#board section.board_list #board_tab ul li:before {background-color: #1a1a1a; content: ''; position:absolute; top:50%; right:-1px; width: 1px; height: 12px; margin-top:-6px},
#board section.board_list #board_tab ul li:last-child {  }
#board section.board_list #board_tab ul li:last-child:before{ display: none; }
#board section.board_list #board_tab ul li a{ word-break:keep-all; display: table-cell; vertical-align: middle; color: #1a1a1a; font-size: 15px; line-height: 20px; height: 60px; padding: 0 35px; font-weight: bold; }
#board section.board_list #board_tab ul li a:hover { color: #000; }
#board section.board_list #board_tab ul li.active a { color: #fff; background-color: #1a1a1a; }
#board section.board_list #board_tab ul li.active:before { display: none; }
#board section.board_list #board_top { position: relative; display: inline-block; width: 100%; }
#board section.board_list #board_top .board_info { font-size: 14px; color: #1a1a1a; font-weight: bold; position: absolute; bottom: 0; left: 0; margin-bottom: 15px; }
#board section.board_list #board_top .board_info span { color: #e6950c; }
#board section.board_list #board_top .board_search { max-width: 450px; margin-left: auto; margin-bottom: 15px; text-align: right; }
#board section.board_list #board_top .board_search select { max-width: 200px; }
#board section.board_list #board_list .end { color: #999; }






#board section.board_write { padding-bottom: 100px; }
#board section.board_write #board_write th { width: 15%; }
#board section.board_write #board_write td {  }
#board section.board_write #board_write .ipt { max-width: 100%; width: 100%; }
#board section.board_write #board_write .selectBranch { max-width: 250px; }
#board section.board_write .btn_group .btn { width: 100px; }




.info_box { max-width:1200px;min-width:360px;width:90%;margin:0 auto; }
.info_box h5{text-align:center;color:#333399;font-size:20px;padding:0px 0 25px; }
.info_box .inner{margin-bottom:20px; }



.notice_step { margin-bottom:150px; width:100%; border:1px solid #333; border-radius:50px; padding:10px; box-sizing:border-box; }
.notice_step > ul {background: rgba(255,255,255,.5); border:1px dotted #000; border-radius:40px; padding:20px; box-sizing:border-box; }
.notice_step > ul::after { content:''; clear:both; display:block;}
.notice_step > ul > li { line-height:130%; margin-bottom:0 !important; float:left; margin-left:2%; width:23%;}
.notice_step > ul > li:first-child { float:left; margin-left:2%; width:23%;}
.notice_step > ul > li span { position:relative; padding-bottom:10px; color:#000; display:block; font-size:22px; font-weight:bold; border-bottom:1px solid #333;}
.notice_step > ul > li span::after { content:''; position:absolute; right:0; width:5px; height:5px; background:#333; bottom:-3px;}
.notice_step > ul > li > ul { padding-left:15px; margin-top:15px;}
.notice_step .step_txt li {font-size:16px;  list-style:square;  margin-bottom:5px !important;}
.c_red { color:#e61b1b}

@media screen and (max-width:768px) {
	.notice_step > ul > li { width:45%; margin-left:4%; height:150px; margin-bottom:20px !important;}
	.notice_step > ul > li:first-child {margin-left:4%; width:45%;}
}

@media screen and (max-width:550px) {
	.notice_step > ul { padding:32px;}
	.notice_step > ul > li { height:auto; width:100%;margin-left:0;}
	.notice_step > ul > li:first-child { width:100%; margin-left:0;}
}




@media screen and (max-width: 1600px){
	#theme section.feature03 .img .over .desc { height:48% !important; overflow-y:auto; margin-bottom:20px;}

}

@media screen and (max-width: 1023px){
	#branch section.branch_view .contact li { display: inline-block; }
	#branch section.branch_view .col { width: 100%; float: none; }
	#branch section.branch_view .img_area { padding-right: 0; }
	#branch section.branch_view .img_area .slider-for .item { max-height: 600px; }
	#branch section.branch_view .img_area .slider-nav .item { max-height: 200px; }

	#affiliated section.affiliated .row .col { width: 100%; }
	#affiliated section.affiliated .row .col:nth-child(1) { padding-left: 0; }

	#franchise section.feature03 .feature03_btm .bgt,
	#franchise section.feature03 .feature03_btm .bgb {width:40%;}
	#franchise section.feature03 .feature03_btm .bgt img,
	#franchise section.feature03 .feature03_btm .bgb img {width:auto; max-width:100%;}

	#affiliated section.affiliated .request_write .agree, #affiliated section.affiliated .request_write .btn, #affiliated section.affiliated .request_write .btn:last-child{ width: 100%;}
  #affiliated section.affiliated .request_write .btn{margin-top: 10px;}
	#affiliated section.affiliated .request_write .agree label{left: 15%;}
	

	#theme section.feature03 .img .over .level { width:100% !important;}
	#theme section.feature03 .img .over .desc { height:auto !important; max-height:130px; }
	#theme section.feature03 .row .col:nth-child(4n-3) {clear:none;}
	#theme section.feature03 .row .col { width:33.3%;}
	
}
